<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">




<suite name="Piemera testu kopa" parallel="none">


  
  
  <test name="EP219 Piemers">
    <classes>
     	<class name="TestCases.EP219Piemers"/>
    </classes>     
  </test>
  
  
  <test name="Velviens Piemers">
    <classes>
     	<class name="TestCases.VelviensPiemers"/>
    </classes>     
  </test>
  
  
  
</suite> 
