<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Piemera testu kopa" parallel="none">

  
  <test name="EP219 Piemērs">
    <classes>
     	<class name="testCases.EP219Piemers"/>
    </classes>     
  </test>
  
  
  <test name="Vēl viens Piemērs">
    <classes>
     	<class name="testCases.VelViensPiemers"/>
    </classes>     
  </test>
  
   <test name="Kārtējais Piemērs">
    <classes>
     	<class name="testCases.KartejaisPiemers"/>
    </classes>     
  </test>
    
  
</suite> 
